<div class="biografia">
    <h2>Biografia</h2>  
      <p>
          Sandra Bertocco nasce a Padova nel 1968, diplomata presso l'Istituto Statale d'Arte
          “Pietro Selvatico” di Padova nell'anno 1987/88, nella sezione di decorazione pittorica. 
          Conclude gli studi presso l'Accademia di Belle Arti di Venezia nell'anno 1991/92, 
          ottenendo relativo diploma in Pittura.
      </p>
      <p>
          Da anni svolge la professione di insegnante di Discipline Pittoriche 
          (disegno dal vero, educazione visiva, progettazione) presso le scuole
          d'arte della provincia; attualmente ricopre la cattedra di Discipline
          Pittoriche presso lo storico Liceo Artistico Pietro Selvatico di Padova.
      </p>
      <p>
          Pittrice e calligrafa, collabora da anni con studi di architettura e grafica.
          Si esprime prevalentemente attraverso l'uso di tecniche ad acqua: acrilico su tela, 
          tempera, acquerello, guazzo.
      </p>
      <p>
          Numerose sue opere fanno parte di prestigiose collezioni private.
      </p>
  </div>
  <img class="img-bio" src="../assets/sandra.jpg" alt="L'artista Sandra Bertocco che guarda un paesaggio">
  <div class="esposizioni">
      <h2>Esposizioni</h2>
      <ol><!--navigazione per anno-->
          <li>
              <p class="data">1989</p>
              <p>Seconda Biennale Nazionale dell'Acquerello - Albignasego (Padova)</p>
          </li>
          <li>
              <p class="data">1991</p>
              <p>Segnalazione al settimo concorso nazionale di pittura e grafica "il pennello d'oro" - Ponte di Barbano (Vicenza)</p>
              <p>Terza Biennale Nazionale dell'Acquerello - Albignasego (Padova)</p>
          </li>
          <li>
              <p class="data">1993</p>
              <p>"incisioni da leggere" presso la galleria "Nuova Icona" - Venezia</p>
          </li>
          <li>
              <p class="data">1995</p>
              <p>Quarta Biennale Nazionale dell'Acquerello - Albignasego (Padova)<p>
              <p>In collaborazione con l'assessorato alla Gioventù del comune di Padova e del Prof. Enrico Buda, mostra personale a "Le Bistrot de Vénise" per la Rassegna Nazionale Giovani Pittori Italiani "Nuove Tendenze Nella Pittura" - Venezia<p>
          </li>
          <li>
              <p class="data">2011</p>
              <p>Mostra collettiva "Percezione RAM 2011" - Bastioni Alicorno - Padova</p>
          </li>
          <li>
              <p class="data">2016</p>
              <p>Mostra personale <a href="paginaGalleria.php?file=pensieri_liquidi">Pensieri Liquidi</a> a cura della Prof.ssa Raffaella Terribile per la rassegna "Porta Aperta 2016" - Porta San Giovanni - Padova</p>
          </li>
          <li>
              <p class="data">2018</p>
              <p>Collettiva "Impronte nel Tempo" con Elena Greggio e Alessandro Rinaldi - Artemisia Padova</p>
              <p>"La pittura è morta, Viva la pittura" c/o "VinciArte" ArteFiera - Vicenza</p>
              <p>Mostra personale "Flutti Eterni" presso la Villa Gent - Torre del Benaco (Verona)</p>
              <p>Mostra personale "L'Eclatante quali colori!" presso Ca' dei Carraresi - Treviso Ottava Rassegna di Arte Contemporanea a cura di Daniel Buso , Vito Vinci e Artika s.r.l.</p>
          </li>
          <li>
              <p class="data">2019</p>
              <p>Mostra collettiva <a href="paginaGalleria.php?file=resilienza">Resilienza - 17 artiste per le donne vittime di violenza</a> Sala della Gran Guardia - Piazza dei Signori (Padova)<p>
              <p><a href="paginaGalleria.php?file=artefiera_cremona">L'Interruzione!... un incantesimo</a> c/o VinciArte ArteFiera - Cremona</p>
              <p>"Nuovi Orizzonti del Contemporaneo" c/o VinciArte Artfair - Lucca</p>
              <p>Mostra collettiva "Alchimia dell'Arte" Cattedrale Ex Macello - Padova</p>
              <p>Mostra collettiva Paratissima Art Fair a cura di Vito Vinci e Giorgia Basili - Torino</p>
              <p>Mostra personale <a href="paginaGalleria.php?file=un_astrazione_possibile">Un'Astrazione Possibile</a> a cura di Vito Vinci, Chiostro di San Francesco - Treviso</p>
              <p>Menzione speciale della giuria del premio Combat Prize per l'opera "Fragore"</p>
          </li>
          <li>
              <p class="data">2020</p>
              <p>"BOOMing" - DumBo Space - Bologna</p>
          </li>
          <li>
              <p class="data">2021</p>
              <p>"ArteFiera Padova" c/o VinciArte - Padova Menzione speciale per l'opera "Corteccia"</p>
          </li>
          <li>
              <p class="data">2022</p>
              <p>Mostra personale <a href="paginaGalleria.php?file=attraverso_il_colore">Attraverso il Colore</a> c/o dp Progetti di Daniela Paluello a cura di Vito Vinci e Claudio A. Barzaghi - Padova<p>
              <p>ArtFair Fiera d'arte moderna e contemporanea - Real Collegio Lucca<p>
              <p>Esposizione permanente DuDA - Duca d'Aosta (inaugurazione 4 Giugno)</p>
              <p>"ArteFiera Padova" c/o VinciArte - Padova</p>
          </li>
          <li>
              <p class="data">2023</p>
              <p>Cremona Art Fair - Fiera di Cremona</p>
              <p>Artverona -15 Ottobre - Fiera di Verona</p>
              <p>Ars in Tempore - Collettiva Abbazia Santa Maria di Pero, Monastier (TV)</p>
          </li>
      </ol>
  </div>
  <a class="tornasu" href="#contenuto">Torna sopra</a>