    <ul class="aiutoNavigazione">
        <li><a href="paginaGalleria.php?file=pensieri_liquidi">Pensieri Liquidi</a></li>
        <li><a href="paginaGalleria.php?file=un_astrazione_possibile">Un'Astrazione Possibile</a></li>
        <li><a href="paginaGalleria.php?file=attraverso_il_colore">Attraverso il Colore</a></li>
        <li><a href="paginaGalleria.php?file=artefiera_cremona">Artefiera Cremona</a></li>
        <li><a href="paginaGalleria.php?file=resilienza">Resilienza</a></li>
    </ul>
    <div class="containerGalleria">
        <div class="gallerySection1">
            <a class="btnGalleria" href="paginaGalleria.php?file=pensieri_liquidi">Pensieri Liquidi</a>
        </div>
        <div class="gallerySection2">
            <a class="btnGalleria" href="paginaGalleria.php?file=un_astrazione_possibile">Un' Astrazione Possibile</a>
        </div>
        <div class="gallerySection3">
            <a class="btnGalleria" href="paginaGalleria.php?file=attraverso_il_colore">Attraverso il Colore</a>
        </div>
        <div class="gallerySection4">
            <a class="btnGalleria" href="paginaGalleria.php?file=artefiera_cremona">Artefiera Cremona</a>
        </div>
        <div class="gallerySection5">
            <a class="btnGalleria" href="paginaGalleria.php?file=resilienza">Resilienza</a>
        </div>
    </div>
