<script src="../js/autoSlider.js"></script>

<blockquote class="homequote">
    <em>
        L’equilibrio compositivo raggiunto, l’amore per i temi semplici, lo spirito 
        musicale e lirico che informa il suo operare, sono gli ingredienti della sua 
        ricetta estetica. Tre condizioni estremamente difficili da raggiungere per 
        un artista, ma al tempo stesso capaci, una volta conquistate, di produrre 
        immagini di sicuro impatto emotivo e di immediata gratificazione percettiva.
    </em><br><br>
    <cite>Sandra Bertocco</cite>
</blockquote>
<!--slider-->
<div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
        <div id="overflow">
            <div class="inner">
                <div class="slide slide_1">
                <div class="slide-content">

                </div>
                </div>
                <div class="slide slide_2">
                <div class="slide-content">
                </div>
                </div>
                <div class="slide slide_3">
                <div class="slide-content">
                </div>
                </div>
                <div class="slide slide_4">
                <div class="slide-content">
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--slider-->
