
    <nav aria-label="menù opere">
    <ol class="aiutoNavigazione">
        <li> <a href="listaOpere.php?tipoOpera=quadro">opere su tela</a></li>
        <li><a href="listaOpere.php?tipoOpera=carta">opere su carta</a></li>
    </ol>
    </nav>
  
    <!-- Contenitore principale diviso a metà -->
    <div class="containerOpere">
        <!-- Colonna sinistra -->
            <div class="left-column">
                <a href="listaOpere.php?tipoOpera=quadro" class="btnOpere">Opere su Tela</a>
                <!-- Contenuto della colonna sinistra -->
            </div>
        <!-- Colonna destra -->
            <div class="right-column">
                <a href="listaOpere.php?tipoOpera=carta" class="btnOpere">Opere su Carta</a>
                <!-- Contenuto della colonna destra -->
            </div>
    </div>