<div class="album">
    <div class="album-track-artfiera_cremona">
        {fotoGalleria}
        {fotoGalleria}
    </div>
</div>   
<div class="recensioni">
    <div class="articolo">
        <h3>
            L'interruzione! ... un incantesimo
        </h3>
        <h6>
            Vito Vinci
        </h6>
        <p>
            ArteFiera Cremona 2019
        </p>
        <blockquote>
            <p>
                Si usa uno specchio per guardarsi il viso, un'opera d'arte per guardarsi l'anima.
            </p>
            <cite>George Bernard Shaw</cite>
        </blockquote>
        <blockquote>
            <p>
                Mai apprezzare l'arte con razionalità, è come non apprezzarla. 
            </p>
            <cite>Oscar Wilde</cite>
        </blockquote>
                 <p><!--Non mi e ricordo se i br erano stati deprecati ma mi pare di si quindi attenzione-->
        Fiumi di letteratura spesi per definire l'arte, hanno prodotto infinite ipotesi e congetture, 
        se di volta in volta è più importante la tecnica o la creatività, se è una questione di intuizione 
        o di improvvisazione oppure di impegno, ricerca e studio. Se bisogna distinguere lo spessore, il livello, 
        le competenze o magari soffermarsi solo sull'autenticità e l'originalità del messaggio. Bene, non riesco 
        ad esimermi nel dire la mia e credo che limitando la definizione al semplice approccio, potrei dire che 
        "l'arte è l'espressione di un disagio".  Dunque la fruizione profonda di un'opera d'arte è il godimento di 
        tale disagio.  Chiunque di noi allena e coltiva sensibilità ed emozioni, esibisce le proprie abilità dilettandosi 
        nell'esercizio sia intimo che pubblico. Poi sopravviene il quotidiano, il tragico incombente, il dovere di 
        vivere. Chiediamo aiuto all'artista, ci offre la catarsi, introiezioni e proiezioni che ci fanno sognare 
        e rendono il tutto possibile e realizzabile. Le assonanze, le corde solleticate, le affinità elettive ci 
        fanno dire "mi piace" ma aneliamo alla simbiosi e all'appropriazione del processo creativo. La pittura è 
        l'arte che maneggia i colori e deve fare i conti come tutte le discipline con il tempo e lo spazio.  
        La nostra egoistica immaginazione vorrebbe l'artista intento a dipingere per tutto il tempo e oltre 
        la tela in un flusso infinito. Il dilemma dell’ispirazione ci attanaglia, la turbolenza interiore dell’artista 
        gira intorno ai nostri pensieri e senza interruzioni compie seducenti e ammalianti risultati.
        SANDRA BERTOCCO è l'artista dell'interruzione! La trasporta sulla tela, la fa sentire. 
        Ci indica i momenti vuoti, sospesi... credo sia assodato che la pittura ha ormai perso definitivamente 
        la funzione di rappresentare o imitare la realtà, deve dunque attraverso i colori, tra le urla e i sussurri, 
        comunicarci un senso, una direzione, una via di fuga dai nostri contenitori estetici.  Sandra si muove 
        con destrezza in questo percorso, a volte lineare e spesso tortuoso, graffi decisi e profondi che solcano 
        dolcemente tappeti voluttuosi, scavi sensuali che cercando il buio trovano la luce. Già, la Luce! 
        Quale infinito desiderio nella pittura da sempre! Un tempo la sua 
        durata dipendeva dalla cera che si scioglie, un lento consumo che scoraggiava qualsiasi intervento deciso. 
        Oggi basta un click, e ogni nostro dispositivo (compresa la nostra mente) è dotato di interruttori efficaci. 
         Se il concetto di Rapsodia è stato già accostato alla pittura, Sandra Bertocco è l'interprete più convincente. 
        Nelle sue opere, spezzoni melodici incrociano colori mai visti e l'astrazione si esprime con note fluenti 
        e toni struggenti. Eccola l’INTERRUZIONE!  Nelle opere di Sandra è presente! È nei suoi vuoti, 
        nei silenzi, gli angoli bui.  Piccole scosse telluriche che animano liberamente menti disponibili. 
        E quando si svela, questa interruzione compie nel processo estetico un piccolo miracolo. 
        UN INCANTESIMO: noi che guardiamo, che proviamo piacere, che vogliamo comprendere il lavoro di Sandra, 
        i suoi segreti, le sue intenzioni, siamo turbati dall'effetto e dal risultato: le opere di Sandra leggono
        i nostri ricordi! Ce li svelano, intimità e avventure a braccetto in un tempo che ritorna, vivido e bello 
        in una pittura trionfante!  Ecco che i colori si scambiano ruoli e assumono significati diversi:
        il giallo dapprima viscerale, carnale, diventa una morbida distesa per calpestare sensazioni 
        da brividi. Il rosso ematico che scorre travolgente diventa una spremuta di energia per assetare desideri imprevisti. 
        Il viola? Una nuvola minacciosa che si dilegua ai nostri occhi e come in una fiaba ci racconta il trucco della felicità.
        </p>
        <a class="tornasu" href="#contenuto">Torna sopra</a>
    </div>
</div>
