<div class="album">
    <div class="album-track-pensieri_liquidi">
    {fotoGalleria}
    </div>
</div>
<div class="recensioni">
    <div class="articolo">
        <h3>
            Pensieri Liquidi
        </h3>
        <h6>
            Raffaella Terribile
        </h6>
        <p>
            La consuetudine con la Pittura comincia, per Sandra Bertocco, negli anni Novanta,
            quando frequenta l’Accademia di Belle Arti di Venezia. Inizia così anche la sua 
            attività artistica, che oggi abbina all’insegnamento di Discipline Pittoriche 
            nelle scuole ad indirizzo artistico di Padova e provincia.
            Il lavoro di Sandra Bertocco è dialogo paziente con l'ispirazione e passa 
            attraverso il <em>saper fare</em> la pittura che recupera la ritualità del gesto, 
            il segno paziente del pennello, il ruolo del caso. La tela, tenuta orizzontale,
            ospita passaggi di colore successivi, a formare addensamenti e velature che 
            rivelano in trasparenza la materia del pigmento con l'uso di tecniche ad acqua 
            (acrilico, tempera, acquarello, guazzo). A volte il segno grafico, la parola,
            vengono lasciati come sospesi con un tratto leggero a carboncino da leggere quasi 
            in controluce, come foglie abbandonate alla corrente o trascinate dal vento.
            Un palinsesto dove il colore rivela il pensiero sottotraccia. E così l’emozione
            incontra la logica, il caso si riunisce alla volontà di chi crea.
            I Pensieri Liquidi sono Armonie Liquide, dove il colore si fa corpo, materia,
            ma anche spirito, leggerezza, catena di immagini totalmente libere che giocano sulla
            sovrapposizione, le trasparenze, le luci, i contrasti, il colore. La natura rimane
            il richiamo di fondo, ma mai in maniera mimetica, perché è sempre il colore a ricrearla,
            sono sempre il colore e la luce a farci percepire la realtà
            (
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Colore">
                <strong>Colore</strong>
            </a>
            , 2008). E il colore è il tratto distintivo, il 
            leit-motiv che unisce tutta la produzione di Sandra Bertocco, un colore sempre 
            forte, di impatto, dietro al quale si avverte un personalissimo gusto per il 
            contrasto, mai violento, eppure incisivo e fortemente espressivo.
            Nel colore l'artista trasfigura se stessa e il suo amore per la vita. Nelle forme
            che si stemperano nel colore puro, lasciando progressivamente la memoria della loro 
            riconoscibilità visiva per farsi totalmente libere, ritroviamo intatte le suggestioni 
            di Kandinskij, come l'idea della possibilità di una pittura che mutua dalla musica 
            un'assoluta libertà di racconto e di emozione, un lirismo che parla un linguaggio 
            universale proprio perché fatto di emozioni in libertà. Le tonalità calde liberano 
            dalla geometria le suggestioni di Klee in una materia di colore in sovrapposizione. 
            Il verde saturo di una foglia nuova si stempera nelle tonalità ocra di uno spazio
            fatto di terra e di sole, dove foglia, terra e sole sono intuizioni liriche 
            (
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Sottobosco">
                <strong>Sottobosco</strong>
            </a>, 2016). Così il volo di un petalo nell’aria,
            o il dorato delle ali distese di un uccello (
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Volo+d'Uccello">
            <strong>Volo d’uccello</strong>
            </a>, 2008), 
            o ancora una scogliera investita da un temporale, sembrano suggerire spazi sconfinati 
            all’immaginazione.
            Dalle tonalità scure, fredde, dai blu e dai viola degli esordi, la tavolozza si 
            scalda e si illumina con le tonalità delle ocre, dei rossi, dei bianchi.
            Dall’accostamento di campiture cromatiche come celle delimitate da tratti forti 
            di carboncino si affaccia una forma, come in 
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Busto">
                <strong>Busto</strong> 
            </a>del 1992, o 
            il rosso movimento sinuoso di un pesce diventa una scia calda che attraversa 
            il campo del dipinto, appena mosso dalla texture leggera del supporto applicato 
            sulla tela (
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Pesce+Rosso">
            <strong>Pesce rosso</strong>
            </a>, 1995). I titoli dicono ma non affermano, 
            come in 
            <a href="operaSingola.php?tipoOpera=quadro&idOpera=Robusto">
            <strong>Robusto</strong>
            </a>del 1992, perché all’arte non si chiede di spiegare 
            se stessa,
            ma di emozionare e di commuovere.
        </p>
        <a class="tornasu" href="#contenuto">Torna sopra</a>
    </div>
</div>
