
<div class="album">
    <div class="album-track-resilienza">
         {fotoGalleria}
    </div>
</div>
<div class="recensioni">
    <div class="articolo">
        <h3>
            Cicatrici
        </h3>
        <h6>
            Vito Vinci
        </h6>
        <p>
        L’arte come salvezza… senza pudore, senza vergogna
        </p>

        <blockquote>
            <p>
                L’ arte deve confortare il disturbato e disturbare il comodo
            </p>
            <cite>Bansky</cite> 
        </blockquote>
        <p>
        
        Per un evento unico e partecipato, Sandra Bertocco abbandona per un istante la sua pittura immediata, 
        luminosa e dal flusso liquido, scorrevole e ci regala un opera dalla tecnica mista:
        fotografia, colori e materiali diversi per uno squarcio d’insieme di grande impatto, intriso di malinconia
        e con slancio emotivo ineguagliabile.
        La bellezza è sullo sfondo, in qualche angolo tra le espressioni e le riflessioni di un corpo vulnerabile
        e una mente appena svuotata dalla gioia, dalla tenerezza.
        Ombre sinuose accarezzano emozioni sfuocate, desideri rimossi, sguardi interrotti dal fantasma della realtà
        che è fuori, ai margini, lontano...
        Coraggioso disvelamento di una intimità ferita e meraviglioso adescamento per esteti sensibili.
        “CICATRICI”... opera compiuta e di accecante bellezza per un ideale d’uso, artistica e catartica, 
        sospesa e in bilico nella contemporaneità delle immagini, ripudiando tout court la banalità dei 
        selfie e l’autolesionismo gratuito.
        Composizione di un puzzle spiazzante in 23 frammenti, lasciandoci liberamente la scelta dell’indicazione:
        Sì perché potremmo anche chiamarla “23” (numero misterico) per i tanti interrogativi e le poche risposte.
        Le lettere di un alfabeto?  Amore, Caso, Debolezza, Ferite, Pericolo, Sofferenza, Voglia di Volare?
        O il letto di un ospedale? I sogni per una lenta elaborazione, i giorni di un viaggio fantastico e liberatorio?
        23 matite, fogli, pennelli... Colori.
        Qui il colore, per una volta sola si prende una licenza, non vuole guide, né consigli o suggerimenti.
        Scorrazza qua e là, in punta di piedi, saltellando felice, ma prudente.
        Per una sola volta! Proprio come in una bellissima canzone dei Violent Femmes (manco a dirlo, femmine violente)
        Color me once. <br>
        </p>
        <blockquote>
            <p>
                -I got patience on my neck like a cold, cold knife
                -painted the house, black as night
                -when the sun came up the  house was white<br>
            </p>
            <p>
                Un freddo coltello accarezzava pazientemente il mio collo, mentre ho dipinto la mia casa,
                Nera di notte, bianca all’alba.
            </p>
            <cite>Gordon Gano, Brian Ritchie</cite>
        </blockquote>
        <a class="tornasu" href="#contenuto">Torna sopra</a>
    </div>
</div>
