<div class="album">
    <div class="album-track-unastrpos">
        {fotoGalleria}
    </div>
</div>
<div class="recensioni">
    <div class="articolo">
        <h3>
            Un'astrazione possibile
        </h3>
        <h6>
            Vito Vinci
        </h6>
        <blockquote>
            <p>
            Un po' di possibile altrimenti soffoco. 
            </p>
            <cite>Gilles Deleuze</cite>
        </blockquote>
        <p>
        Mi ritrovo a parlare della mia artista preferita, Sandra Bertocco, alla fine di un percorso espositivo 
        in cui all’interno di un affascinante e misterioso chiostro (l’anima di Pietro Alighieri si aggira
        nei paraggi, oltre 
        a Francesca Petrarca unica figlia del grande poeta morta di parto nell’agosto del 1384) prova a indagare
        le infinite possibilità dell’astrazione nel flusso interminabile della pittura contemporanea.
        Fortemente ispirata,  Sandra, attraverso  suoi ultimi lavori risolve egregiamente il conflitto tra il
        corpo e la natura circostante, creando ulteriori rimandi e intrecci all’intenzione di attingere al 
        mondo esteriore coniugando emozioni complesse e stratificate, esplodendo nell’equilibrio corporeo,
        magari di un giovane eroe michelangiolesco, simbolo di un eterna armonia.
        Inoltre introduce il segno, la scrittura, la calligrafia, lo fa con una sola opera in verità, 
        ma sperimenta con coraggio, laddove l’arte contemporanea tende a ridurre, a cancellare addirittura,
        la possibilità di un'altra ricerca estetica dove il gesto e la parola diventano immagine.
        Dunque mi assale una rivelazione! Sandra con i suoi dipinti realizza autoritratti! Che non rappresentano
        il suo volto il suo corpo (con “ Cicatrici” questo però avviene) ma le sue emozioni, i sentimenti, 
        come deformati,  deviati in uno specchio convesso, citando e rendendo omaggio al capolavoro del Parmigianino
        del 1525.
        E qui mi approprio impunemente delle meravigliose parole di John Ashbery , il quale dedica alla figura
        ideale del Parmigianino un intera e lunga poesia di 552 versi e la intitola proprio come la sua opera:
        <blockquote>
            <p>
            ... questo è il mio luogo, un altrove dove il sole scende sfarinato un po’ per volta aspettando 
            che venga qualcuno e intanto tinge di giallo il verde dell’acero.
            Uno sguardo di specchio mi arresta. Sarò io la percepita? Mi hanno notato questa volta così 
            come sono,
            o tutto è ancora rimandato? Le nuvole salgono con agile impazienza nel cielo pomeridiano, colori 
            addensati in occhi grigi che cadono sulla tela, ballata che abbraccia il mondo intero. 
            È pulviscolo di sole.
            Come una sfinge ignorante mi lascio ingannare dall’ombra. La lucentezza della notte si insedia.
            Una pallida luna cistercense, scalando sacre vette si mette in affari col buio.
            </p>
        </blockquote>
        <p>
        E per dirla con Harold Bloom (noto critico letterario) la pittura di Sandra come la poesia di 
        Ashbery è forma frantumata, in cerca di un rifugio, per niente tranquillo aggiungo.
        Emerge l’anima inquieta, intenta a sentire la pioggia sul vetro, il sospiro delle foglie 
        autunnali,
        Brama di essere libera ma resta in posa in un convulso autoritratto. Sguardo misto di 
        tenerezza divertimento e rimpianto. Un anima segreta che colma il proprio vuoto alla perfezione:
        La sua stanza, il nostro istante di attenzione.
        Una meravigliosa melodia senza parole, le quali sono solo speculazioni che cercano 
        senza trovarlo... il senso della musica.
        I colori di Sandra Bertocco che ancora si mescolano con la poesia, la musica.
        Ed io che amo il suo Orange e mi piace canticchiarlo con una canzone dei Big Thief:
        </p>
        <blockquote>
        <p>
            Orange is the color of my love 
            Lies, lies, lies
            Lies in her eyes
            The moon drips like water from her shoulder
            As she wanders freely through the forest.
        </p>
        <p>
            L’arancio è il colore del mio amore
            Bugie, bugie, bugie
            Bugie nei suoi occhi
            La luna gocciola come acqua dalla sua spalla
            Mentre vaga liberamente nella foresta.
        </p>
        </blockquote>
        </div>
        <div class="articolo">
        <h3>
            Sandra Bertocco
        </h3>
        <h6>
            Claudio A. Barzaghi
        </h6>
        <p>
            Vittima delle apparenze, nel senso che di primo acchito sarebbe facile definirla 
            <em>astrattista</em> - poiché indubbiamente non è la figurazione il suo obiettivo -; 
            tuttavia, di fatto, e in una realtà più profonda, la pittura di Sandra Bertocco 
            è una figlia dell’informale, o ancor meglio dell’informe. Per giunta di un informe
            particolare, e cioè quello che, se ne abbia o non se ne abbia consapevolezza, 
            trova la propria ragion d’essere nel gesto e, certo, anche nel colore, però in 
            un colore dalle radici lontane, per l’esattezza quello che ha in Wolfgang Goethe, 
            e nella sua alternativa teoria del colore, il vero padre nobile. In definitiva la 
            Bertocco è un artista romantico, un pittore che si affida in modo esclusivo al 
            proprio io e alla propria soggettività, e che da lì fa scaturire e scorrere 
            l’opera in una dimensione che vive di una luce in stretta relazione con l’ombra. 
            Naturalmente non l’ombra teatrale e/o caravaggesca, bensì l’ombra che condiziona 
            la luce nel suo manifestarsi, e di conseguenza i colori che nascono da tale 
            rapporto sono squillanti come vagiti, eppure moderati e sorvegliati dal nero e 
            dalla presenza di un’oscurità.
        </p>
        <p>
            Nel raccontarsi Sandra Bertocco fa riferimento alla musica, e sarebbe impossibile 
            darle torto, e non solo perché se esiste una forma d’arte riferibile 
            all’astrazione, questa è in assoluto proprio la musica, ma perché medesimo è 
            lo sgorgare e il fluire nel percetto dello spettatore/osservatore. Infatti, 
            sia la musica che la pittura di Sandra son fatte della materia di cui son fatti 
            i sogni, ed entrambe non sono né descrittive né tantomeno mimetiche, così 
            come entrambe non devono fornire giustificazioni al loro esistere.
        </p>
        <p>
            Entrambe, non a caso, sono evocative (e in tal senso basterebbero alcuni titoli 
            delle opere qui in mostra: <em>Pellestrina</em>, <em>Sottobosco</em>, <em>Luogo</em>, 
            <em>Corteccia</em>, <em>Una ferita aperta</em>, <em>Spigolo vivo</em>), e quando 
            si materializzano in forma visibile (sia essa tela o spartito) lo fanno grazie 
            a un gesto carico di componenti sensorial esistenziali, il quale impegna però 
            il corpo fisico.
        </p>
        <a class="tornasu" href="#contenuto">Torna sopra</a>
    </div>
</div>
